[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
redis = "*"
flask-cors = "*"
flask = "*"
gunicorn = "*"

[dev-packages]
python-dotenv = "*"

[requires]
python_version = "3.11"
